In [4]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, SimpleRNN, Embedding, LSTM
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

import pandas as pd

In [7]:
embedded_titles = pd.read_csv(r'C:\Users\injoo\광주 인공지능 사관학교\로테이션\자연어처리&추천시스템 김준태\미니프로젝트\Dataset\embeded_titles.csv', error_bad_lines=False)

In [9]:
embedded_titles.drop(columns = ['Unnamed: 0'])

                                                      0
0     [1266, 611, 1267, 168, 232, 17, 1268, 29, 467,...
1                                        [612, 468, 92]
2                                 [1269, 1270, 73, 613]
3                                  [614, 1271, 233, 93]
4                                         [13, 27, 130]
...                                                 ...
2359                                             [1086]
2360                      [14, 1069, 468, 38, 443, 590]
2361                                   [648, 165, 2061]
2362                             [2152, 2153, 323, 279]
2363                                [6, 193, 1830, 351]

[2364 rows x 1 columns]